<% self.page_title = "Share Our Stuff!" %>
<h1><%= page_title %></h1>

<!-- 3rd party script appends "Share this" button to page -->
<script class="social-widget" src="https://eliotsykes.github.io/rspec-rails-examples/share.js"></script>
